# Logs
log/
*.log

# Local config / runtime
tpcds_variables.sh
segment_hosts.txt

# Compiled TPC-DS tools
00_compile_tpcds/tools/*

# Generated query tooling copies
01_gen_data/query_templates/
01_gen_data/*.sql
01_gen_data/*.idx
01_gen_data/dsqgen
07_multi_user/query_templates/
07_multi_user/dsqgen
07_multi_user/*.idx
# Generated SQL
05_sql/*.sql
