# Example / starting point for tpcds_variables.sh (copy to tpcds_variables.sh and edit).
REPO="TPC"
REPO_URL="https://github.com/ivanievlev/TPC"
REPO_BRANCH="MERGE_TPCH"
TPC_MODE="TPC-DS"
ADMIN_USER="postgres"
DBNAME="pg_tpcds"
INSTALL_DIR="/arenadata"
EXPLAIN_ANALYZE="false"
RANDOM_DISTRIBUTION="false"
MULTI_USER_COUNT="5"
GEN_DATA_SCALE="30"
SINGLE_USER_ITERATIONS="1"
PARTITION_EVERY_FACTOR="1"
EXCLUDE_HEAVY_QUERIES="false"
SKIP_QUERIES_LIST=""
EXTRA_TPCDS_SCHEMAS="0"
TRUNCATE_BEFORE_LOAD="true"
SQL_ON_ERROR_STOP="false"
STATEMENT_TIMEOUT="1h"
RUN_COMPILE_TPCDS="true"
RUN_GEN_DATA="true"
RUN_INIT="true"
RUN_DDL="true"
RUN_LOAD="true"
RUN_SQL="true"
RUN_SINGLE_USER_REPORT="true"
RUN_MULTI_USER="true"
RUN_MULTI_USER_REPORT="true"
RUN_SCORE="true"
USE_EXTERNAL_FORMAT="false"
RUN_SQL_WITH_DUCKDB="false"
PURGE_OLD_EXTERNAL_DATA="true"
KILL_PREVIOUS_PROCESSES="true"
